[submodule "3rd-party/fancybox"]
	path = 3rd-party/fancybox
	url = https://github.com/theme-next/theme-next-fancybox3
[submodule "3rd-party/pace"]
	path = 3rd-party/pace
	url = https://github.com/theme-next/theme-next-pace
[submodule "themes/next-reloaded"]
	path = themes/next-reloaded
	url = https://github.com/theme-next/hexo-theme-next
